<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marler.teammap.mapper.GroupStageMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_stage (tournament_id, name, team_count, direct_advance, indirect_advance, round_type)
        VALUES (#{tournamentId}, #{name}, #{teamCount}, #{directAdvance}, #{indirectAdvance}, #{roundType})
    </insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO group_stage (tournament_id, name, team_count, direct_advance, indirect_advance, round_type)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tournamentId}, #{item.name}, #{item.teamCount}, #{item.directAdvance}, #{item.indirectAdvance}, #{item.roundType})
        </foreach>
    </insert>

    <select id="selectById" resultType="com.marler.teammap.pojo.GroupStage">
        SELECT * FROM group_stage WHERE id = #{id}
    </select>

    <select id="selectByTournamentId" resultType="com.marler.teammap.pojo.GroupStage">
        SELECT * FROM group_stage WHERE tournament_id = #{tournamentId}
    </select>

</mapper>
